.search{
    width:100%;
    min-height:100vh;
    background:#ededed
}

.searchWrapper{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2rem 5% 2rem 5%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

